<md-toolbar style="background-image: url(img/pg/back4.png)">
    <div class="md-toolbar-tools">
        <h2 style="color: black;font-size: 26px">求助？</h2>
        <span flex></span>
    </div>
</md-toolbar>
<md-dialog-content>
    <div class="md-dialog-content">
        <h3>您好，</h3>
        <h3>報到上是否遇到困難？如果是將會有志工為您服務</h3>
    </div>
</md-dialog-content>
<md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="cancel()">
        否
    </md-button>
    <md-button ng-click="answer()" style="margin-right:20px;">
		是
    </md-button>
</md-dialog-actions>
