<div ng-controller="idCtrl" style="height: 100%;position: relative;" layout="column" layout-align="start center">
    <div style="padding: 20px"></div>
    <div id="input" flex="15" layout="row">
        <form name="inputForm" style="" flex>
            <md-input-container style="" class="md-block" layout="column" layout-align="start center">
                <label flex="none">請輸入身分證數字部分</label>
                <input name="input" md-minlength="11" ng-model="input" style="height: 50px; font-size: 40px">
                <!-- <div ng-messages="inputForm.input.$error">
                    <div ng-message="message">
                        請輸入九個號碼
                    </div>
                </div> -->
                <div style="color: rgb(221,44,0);" ng-show="errorMessage.length != 0">
                    {{errorMessage}}
                </div>
                <div ng-show="search" style="">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
            </md-input-container>
            <!-- 輸入數字螢幕-->
        </form>
    </div>
    <div flex></div>
    <div layout="row">
        <div layout="column">
            <div style='' flex="none" ng-repeat="row in [0, 1, 2]">
                <md-button ng-click="clickBtn(num)" class="id-btn" ng-repeat="num in [row*3+1, row*3+2, row*3+3]">{{num}}</md-button>
            </div>
        </div>
        <div style="" flex="none" layout='column' layout-align="end">
            <div style="width:240px" layout="row" layout-align="end">
                <md-button class="id-btn grey" flex="none" ng-click="back()">後退</md-button>
            </div>
            <md-button class="id-btn" flex="none" ng-click="clickBtn(0)">0</md-button>
            <div style="width:240px" layout="row" layout-align="end">
                <md-button class="id-btn grey" ng-class="{'btn-highlight': input.length == 11}" flex="none" ng-click="enter()">確認</md-button>
            </div>
        </div>
    </div>
    <div flex></div>
</div>
