<div ng-controller="infoCtrl" id="container" layout="column" layout-align="center center">
    <div style="height: 100%; width: 100%" layout="column" layout-align="start center">
    	<div style="width: 100%; height: 26.667px">
            <h3 ng-show="countDown <= 15" style="margin-top: 30px; width:100%">如不動作，系統將於<purple>{{countDown}}</purple>秒後自動登出</h3>
        </div>
        <span flex></span>
        <h1 style="margin-top: 30px; font-size: 28px"><purple>{{patient.patientInfo.Name}}</purple> 您好～ 今天是要看 一般外科 醫師為：陳俊杉 醫師</h1>
        <h1 class="line-height">
			掛號號碼：<purple>14</purple><br/>
			位址：<purple>2樓 H區 第三診</purple>(詳細請點診間位置)<br/>
			目前看診號碼：<purple>5</purple><br/>
			預計看診時間：<purple>15:05</purple>
		</h1>
        <span flex></span>
    </div>
</div>
