<div style="position: absolute;width: 1024px;height: 768px" ui-sref='verification.ic-card'>
    <!-- <p class="shine" style="position: absolute;top: 237px; left: 405px;font-size: 72px;width:432px;height:75px;">自助報到系統</p>
    <p class="shine" style="position: absolute;top: 356px; left: 477px;font-size: 48px;width:384px;height:49.33px"><span class="touch">點擊螢幕</span>開始報到</p> -->
    <p class="shine" style="position: absolute;top: 237px; left: 405px;font-size: 72px;width:432px;height:75px;"></p>
    <p class="shine" style="position: absolute;top: 356px; left: 477px;font-size: 48px;width:384px;height:49.33px"></p>
</div>
<!-- <object type="image/svg+xml" data="img/pg/home.png">Your browser does not support SVG</object> -->
<img src="img/pg/home.png" alt=""/>
